[submodule "skins/vbsg/breakdown"]
	path = skins/vbsg/breakdown
	url = http://github.com/christophevg/breakdown.git
[submodule "skins/vbsg/cal.js"]
	path = skins/vbsg/cal.js
	url = http://github.com/christophevg/cal.js.git
[submodule "lib/LightOpenIDClient"]
	path = lib/LightOpenIDClient
	url = http://github.com/christophevg/LightOpenIDClient.git
[submodule "skins/vbsg/photo.js"]
	path = skins/vbsg/photo.js
	url = http://github.com/christophevg/photo.js
