[submodule "skins/degroeituin/breakdown"]
	path = skins/degroeituin/breakdown
	url = http://github.com/christophevg/breakdown.git
[submodule "skins/degroeituin/cal.js"]
	path = skins/degroeituin/cal.js
	url = http://github.com/christophevg/cal.js.git
[submodule "lib/LightOpenIDClient"]
	path = lib/LightOpenIDClient
	url = http://github.com/christophevg/LightOpenIDClient.git
[submodule "skins/degroeituin/photo.js"]
	path = skins/degroeituin/photo.js
	url = http://github.com/christophevg/photo.js
[submodule "lib/diff"]
	path = lib/diff
	url = https://github.com/christophevg/diff.git
[submodule "lib/facebook"]
	path = lib/facebook
	url = https://github.com/facebook/facebook-php-sdk.git
