TABLE.calendar {
  border: 2px solid #85D4E1;
  border-collapse: collapse;
}

TABLE.calendar TH,
TABLE.calendar TD {
  border: 1px solid #85D4E1;
  width: 100px;
  height: 80px;
}

TABLE.calendar TH {
  height: 30px;
}

TABLE.calendar DIV.container {
  overflow: auto;
  width: 100px;
  height: 80px;
}

TABLE.calendar TD DIV.number {
  color: #85D4E1;
  padding-top: 5px;
  padding-left: 5px;
  font: 12pt Arial;
  text-align: left;
}

TABLE.calendar TD DIV.cal1 {
  border-color: #E8C38C;
  color: #C57426;
  background-color: #F6E8D4;
}

TABLE.calendar TD DIV.cal2 {
  border-color: #A4B6DC;
  color: #3258A8;
  background-color: #DAE1F1;
}

TABLE.calendar TD DIV.google-test {
  border-color: red;
  color: red;
  background-color: #ccc;
}

TABLE.calendar TD DIV.event {
  overflow:hidden;
  white-space: nowrap; 
  font: 9pt Arial;
  margin-top: 2px;
  cursor: pointer;
}

TABLE.calendar TD DIV.allday.event {
  overflow:hidden;
  white-space: nowrap; 
  font: 9pt Arial;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}

TABLE.calendar TD DIV.timed.event {
  background-color: transparent;
}

TABLE.calendar TD.weekend {
  background-color: #2B91A6;
}

TABLE.calendar TD.today {
  background-color: #EEF0F5;
}

TABLE.calendar TD.selected {
  background-color: #CFE3FF;
}

TABLE.calendar TD.leading {
  background-color: #EEEEEE;
}

TABLE.calendar TD.trailing {
  background-color: #EEEEEE;
}

TABLE.calendar TD.unused {
  display: none;
}

SPAN#now {
  margin-left: 15px;
}
