* {
	margin: 0;
}

HTML {
  overflow-y: scroll;
}

HTML, BODY {
	height: 100%;
}

BODY {
  background-color: #15ACC7;
  background-image: url( "images/background.gif" );
  background-repeat: repeat-x;
  background-position: center 0px;
}

H1 {
  color: white;
  margin: 0px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font: 13pt Verdana;
  letter-spacing: 2px;
  text-shadow: #666666 2px 2px 2px;
  border-bottom: 1px solid white;
}

P {
  color: white;
  font: 10pt Verdana;
}

.overlay {
	display: none;
	top: 0px;
  left: 0px;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 100000;  
}

.popup {
	width: 600px;
	height: 300px;
  margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 40px;
	z-index: 1e+06;
	background-color: white;
	background-image: url( "images/popup-footer.gif");
	background-repeat: repeat-x;
	background-position: 0px 100%;
  color: #2B91A6;
  font: 10pt Verdana; 
}

.popup H1 {
  color: #2B91A6;
  margin-top: 30px;
  text-transform: uppercase;
  font: 13pt Verdana;
  letter-spacing: 2px;
  text-shadow: none;
  border-bottom: none;
}

.popup P {
  color: #2B91A6;
  font-family: Verdana; 
}

.popup .label {
  display: inline-block;
  width: 100px;
}

.withRoundedCorners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.actions {
  float: right;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
  margin-top: 0px;
	overflow: hidden;
	position: relative;
	background-image: url( "images/icons.png" );
}

.icon.close {
  width: 19px;
  height: 19px;
	background-position: -6px -5px;
}

.icon.refresh {
	background-position: -38px -40px;
}

.icon.edit {
	background-position: -262px -71px;
}

.icon.preview {
	background-position: -163px -40px;
}

.icon.save {
	background-position: -262px -552px;
}

.icon.cancel {
	background-position: -6px -552px;
}

.icon.wait {
	background-image: url( "images/icons/spinner.gif" );
	background-position: center center;
	background-repeat: no-repeat;
}

.icon SPAN {
	float: left;
	text-indent: -7000em;
}

.toolbar-wrapper {
  background-image: url( "images/header-background.png" );
  background-repeat: repeat-x;
  position: relative;
  z-index: 15;
}

.toolbar {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

#user-toolbar {
  height: 48px;
  text-align: right;
}

#user-toolbar P {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12pt;
}

#navigation-toolbar {
  position: relative;
  top: -10px;
  height: 42px;
  z-index: 10;
}

#navigation-toolbar .icon.command.edit {
  position: relative;
  top: 20px;
}

.logo {
  float: left;
  margin: 5px;
  padding: 0px;
  border: 2px solid white;
}

.userbar {
  padding-top: 10px;
  width: 990px;
  margin-left: auto;
  margin-right: auto; 
  font: 10pt Verdana;
  color: white;
}

.userbar A {
  color: white;
}

.userbar IMG.gravatar {
  vertical-align: middle;
}

/* BANNER */

.banner {
  height: 120px;
}

.page-home .banner {
  height: 230px;
  background-image: url( "images/banner-welkom.gif" );
  background-repeat: no-repeat;
  background-position: center center;
}

.site {
 width: 990px;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 150px;
}

.page-home .site {
  padding-bottom: 40px;
}

/* EMBEDDED CONTENT */

DIV.embedded {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}

DIV.embedded.news,
DIV.embedded.album {
  width: 295px;
}

DIV.embedded.page {
  color: white;
  font: 9pt Verdana;
  background-image: url( "images/gradient.png" );
  background-repeat: repeat-x;
  background-position: 0px 32px;
  min-height: 200px;
  cursor: pointer;
}

DIV.embedded.page.bericht {
  width: 620px;
}

DIV.embedded.socialbar {
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  width: 30px;
  height: 25px;
  background-image: url( "images/socialbar-embed.png" );
  font: 12pt Verdana;
  padding-top: 7px;
  padding-left: 90px;
}

DIV.embedded.album H1 {
  background-image: url( "images/icons/album.png" );
  background-repeat: no-repeat;
  background-position: 0px 1px;
  padding-left: 27px;
}


DIV.embedded.album {
  height: 250px;
  background-image: url( "images/album-embed.png" );
  background-position: 20px 50px;
  background-repeat: no-repeat;
  cursor: pointer;
}

DIV.embedded.album IMG.key {
  margin-left: 29px;
  margin-top: 39px;
}

/* EDTIOR */

.editorcontrols {
  height: 20px;
}

.editor {
  display: none;
  margin: 5px;
}

.raw {
  width: 100%;
  min-height: 100px;
}

.controls {
  padding: 3px;
  margin: 3px;
  float: right;
}

.controls .command {
  margin-bottom: 5px;
}

/* POST-ITS */

DIV.postit {
  margin-right: 37px;
  clear: both;
  float: right;
  width: 290px;
  height: 100px;
  background-image: url( "images/postit.png" );
  font: 16pt Comic Sans MS;
  padding: 15px;
  text-align: center;
  color: green;
}

DIV.postit.belangrijk {
  color: red;
  text-transform: uppercase;
}

/* COMMANDS */

.command {
  cursor: pointer;
}

.controls .command {
  display: none;
}

.controls .command.active {
  display: block;
}

.controls .state {
  display: none;
}

.controls .state.active {
  display: block;
}


/* FOOTER */

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -108px;
}

._footer {
  position: relative;
  z-index: -200;
  background-image: url( "images/footer.png" );
  height: 108px;
}
    
._footer DIV.info {
  color: white;
  font: 9pt Verdana;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 4px;
}

/* REGISTRATION / LOGON */

DIV.openid .providers {
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

DIV.credentials P {
  margin-bottom: 10px;
}

DIV.credentials FORM {
  text-align: center;
}

FORM INPUT, FORM SELECT {
  font-size: 12pt;
  padding: 10px;
  border: none;
  background-color: #C9EDF4;
}

FORM INPUT.button, FORM SELECT {
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
  background-color: #2890BD;
  border: 1px solid #1F78A2;
}

A.openid {
  width: 120px;
  height: 32px;
  margin: 3px;
  float: left;
}

A.openid:hover {
  margin: 4px 0px 0px 6px;
}

A.openid.google {
  background-image: url( "images/openid/google.png" );
}

A.openid.facebook {
  background-image: url( "images/openid/facebook.gif" );
}

A.openid.yahoo {
  background-image: url( "images/openid/yahoo.png" );
}

A.openid.myopenid {
  background-image: url( "images/openid/myopenid.png" );
}
