DIV.comment {
  clear: both;
  background-image: url(images/comment_body.png);
  background-repeat: no-repeat;
  background-position: 80px 0px;
  min-height: 80px;
  margin-top: 5px;  
}

DIV.comment DIV.commenter {
  float: left;
  text-align: center;
  height: 75px;
  width: 75px;
  font-size: 60%;
  padding-top: 10px;
}

DIV.comment DIV.container {
  padding: 1px;
  padding-left: 20px;
  width: 540px;
  min-height: 80px;
  margin-left: 80px;
  background-image: url(images/comment_bottom.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.editorcontrols {
  height: 20px;
}

.body {
  min-height: 80px;
}

.editor {
  margin: 5px;
}

DIV.comment .editor {
  margin: 0px;
}

.raw {
  width: 100%;
}

.controls {
  padding: 3px;
  margin: 3px;
  float: right;
}

.command {
  cursor: pointer;
}

.controls .command {
  display: none;
  cursor: pointer;
}

.controls .command.active {
  display: block;
}

.controls .state {
  display: none;
}

.controls .state.active {
  display: block;
}

.editor {
  display: none;
}

.editor.active {
  display: block;
}

/* popups */

DIV#register-overlay,
DIV#logon-overlay,
DIV#addcontent-overlay {
	display: none;
	top: 0px;
  left: 0px;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 100000;
}

DIV#register-popup,
DIV#logon-popup,
DIV#addcontent-popup {
	height: 80%;
	margin: 20px 20% 0px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 2em;
	padding-top: 0px;
	padding-left: 2em;
	position: absolute;
	width: 60%;
	z-index: 1e+06;
	background-color: white;
}

.withRoundedCorners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.actions {
	position: absolute;
	top: 15px;
	right: 15px;
}

.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
  margin-top: 0px;
	overflow: hidden;
	position: relative;
	background-image: url( "images/icons.png" );
}

.icon.close {
	background-position: -5px -5px;
}

.icon.refresh {
	background-position: -35px -37px;
}

.icon.edit {
	background-position: -259px -69px;
}

.icon.preview {
	background-position: -163px -37px;
}

.icon.save {
	background-position: -260px -549px;
}

.icon.cancel {
	background-position: -3px -549px;
}

.icon.wait {
	background-image: url( "images/icons/spinner.gif" );
	background-position: center center;
	background-repeat: no-repeat;
}

DIV#userbar DIV.icon.refresh {
  position: absolute;
}

DIV#navigation DIV.icon.edit {
  position: relative;
  top: 5px;
}

DIV#footer DIV.icon.edit {
  position: absolute;
}

.icon SPAN {
	float: left;
	text-indent: -7000em;
}

/* albums and pictures */

DIV.picture.preview, DIV.albumkey {
  float: left;
  margin: 10px;
  text-align: center;
}

DIV.picture.preview IMG,
DIV.albumkey IMG {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

DIV.picture {
  text-align: center;
}

DIV.picture IMG {
 vertical-align: middle;
}

SPAN.placeholder {
  display: inline-block;
  height: 75px;
  width: 75px;
}

/* home style */

HTML { 
  height: 100%; 
  margin-bottom: 1px;
}

BODY {
  margin: 0px;
  padding: 0px;
  background-color: #15ACC7;
}

DIV#toolbar {
  height: 48px;
  background-image: url( "images/header-background.png" );
  position: relative;
  z-index: 5;
}

DIV#header {
 padding-top: 10px;
}

IMG#logo {
  float: left;
  margin: 0px;
  padding: 0px;
  border: 2px solid white;
}

DIV#userbar {
  margin-top: 4px;
  width: 990px;
  margin-left: auto;
  margin-right: auto; 
  text-align: right;
  font: 10pt Verdana;
  color: white;
}

DIV#userbar A {
  color: white;
}

DIV#userbar IMG.gravatar {
  padding-top: 2px;
  vertical-align: middle;
}

DIV#navigation {
  margin: 0px;
  padding: 0px;
}

DIV#navigation UL {
  display: inline;
  padding: 0px;
  padding-left: 20px;
  margin: 0px;
}

DIV#navigation LI {
  display: inline;
  list-style-type: none;
  padding: 10px;
  padding-top: 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  font: 11pt Verdana;
}

DIV#navigation LI A {
  text-decoration: none;
  color: #15ACC7;
  text-transform: uppercase;
}

DIV#navigation LI.selected {
  background-color: #85D4E1;
}

DIV#navigation LI.selected A {
  color: white;
}

DIV#banner {
  height: 230px;
  background: white;
  background-image: url( "images/banner.png" );
}

DIV#site {
 width: 990px;
 margin-left: auto;
 margin-right: auto; 
}

DIV.embedded {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}

DIV.embedded H1 {
  color: white;
  margin: 0px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font: 13pt Verdana;
  letter-spacing: 2px;
  text-shadow: #666666 2px 2px 2px;
}

DIV.embedded.page H1 {
  border-bottom: 1px solid white;
}

DIV.embedded.album H1 {
  background-image: url( "images/icons/album.png" );
  background-repeat: no-repeat;
  background-position: 0px 1px;
  padding-left: 27px;
}

DIV.embedded.news,
DIV.embedded.album {
  width: 295px;
}

DIV.embedded.album {
  height: 250px;
  background-image: url( "images/album-embed.png" );
  background-position: 20px 50px;
  background-repeat: no-repeat;
  cursor: pointer;
}

DIV.embedded.album IMG.key {
  margin-left: 29px;
  margin-top: 45px;
}

DIV.embedded.page.bericht {
  width: 620px;
}

DIV.embedded.page {
  color: white;
  font: 9pt Verdana;
  background-image: url( "images/gradient.png" );
  background-repeat: repeat-x;
  background-position: 0px 32px;
  min-height: 200px;
  cursor: pointer;
}

DIV.postit {
  margin-right: 37px;
  clear: both;
  float: right;
  width: 290px;
  height: 100px;
  background-image: url( "images/postit.png" );
  font: 16pt Comic Sans MS;
  padding: 15px;
  text-align: center;
  color: green;
}

DIV.postit.belangrijk {
  color: red;
  text-transform: uppercase;
}

DIV.embedded.socialbar {
  padding: 0px;
  margin: 0px;
  width: 30px;
  height: 25px;
  background-image: url( "images/socialbar-embed.png" );
  font: 12pt Verdana;
  padding-top: 7px;
  padding-left: 90px;
}

DIV#footer {
  color: white;
  font: 9pt Verdana;
  text-transform: uppercase;
  text-align: center;
  bottom: 0px;
  height: 23px;
  padding-top: 80px;
  background-image: url( "images/footer.png" );
  background-position: 0px 100%;
  background-repeat: repeat-x;
}
