* {
	margin: 0;
}

HTML {
  overflow-y: scroll;
}

HTML, BODY {
	height: 100%;
}

BODY {
  background-color: #15ACC7;
  background-image: url( "images/background.gif" );
  background-repeat: repeat-x;
  background-position: center 0px;
}

A {
  color: #ABE3EC;
}

H1 {
  color: white;
  margin: 0px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font: 13pt Verdana;
  letter-spacing: 2px;
  text-shadow: #666666 2px 2px 2px;
  border-bottom: 1px solid white;
}

H2 {
  color: white;
  margin: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  font: 11pt Verdana;
  letter-spacing: 2px;
}

H3 {
  color: white;
  margin: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  font: 10pt Verdana;
  font-weight: bold;
}

P {
  color: white;
  font: 10pt Verdana;
  margin-bottom: 10px;
}

DIV.content {
  font: 10pt Verdana;
  color: white;
}

P.more {
  text-align: right;
}

LI {
  color: white;
  font: 10pt Verdana;
}

.overlay {
	display: none;
	top: 0px;
  left: 0px;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 100000;  
}

.popup {
	width: 600px;
	height: 300px;
  margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 40px;
	z-index: 1e+06;
	background-color: white;
	background-image: url( "images/popup-footer.gif");
	background-repeat: repeat-x;
	background-position: 0px 100%;
  color: #2B91A6;
  font: 10pt Verdana; 
}

.popup H1 {
  color: #2B91A6;
  margin-top: 30px;
  text-transform: uppercase;
  font: 13pt Verdana;
  letter-spacing: 2px;
  text-shadow: none;
  border-bottom: none;
}

.popup P {
  color: #2B91A6;
  font-family: Verdana; 
}

.popup .label {
  display: inline-block;
  vertical-align: top;
  width: 80px;
}

.withRoundedCorners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.actions {
  float: right;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
  margin-top: 0px;
	overflow: hidden;
	position: relative;
	background-image: url( "images/icons.png" );
}

.icon.close {
  width: 19px;
  height: 19px;
	background-position: -6px -5px;
}

.icon.refresh {
	background-position: -38px -40px;
}

.icon.edit {
	background-position: -262px -71px;
}

.icon.preview {
	background-position: -163px -40px;
}

.icon.save {
	background-position: -262px -552px;
}

.icon.cancel {
	background-position: -6px -552px;
}

.icon.wait {
	background-image: url( "images/icons/spinner.gif" );
	background-position: center center;
	background-repeat: no-repeat;
}

.icon SPAN {
	float: left;
	text-indent: -7000em;
}

.toolbar-wrapper {
  background-image: url( "images/header-background.png" );
  background-repeat: repeat-x;
  position: relative;
  z-index: 15;
}

.toolbar {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

#user-toolbar {
  height: 48px;
  text-align: right;
}

#user-toolbar P {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12pt;
}

#navigation-toolbar {
  position: relative;
  top: -10px;
  height: 42px;
  z-index: 10;
}

#navigation-toolbar .icon.command.edit {
  position: relative;
  top: 20px;
}

.logo {
  float: left;
  margin: 5px;
  padding: 0px;
  border: 2px solid white;
}

.userbar {
  padding-top: 10px;
  width: 990px;
  margin-left: auto;
  margin-right: auto; 
  font: 10pt Verdana;
  color: white;
}

.userbar A {
  color: white;
}

.userbar IMG.gravatar {
  vertical-align: middle;
}

/* BANNER */

.banner {
  height: 120px;
}

.page-home .banner {
  height: 230px;
  background-image: url( "images/banner-welkom.gif" );
  background-repeat: no-repeat;
  background-position: center center;
}

.site {
 width: 990px;
 margin-left: auto;
 margin-right: auto;
}

.page-home .site {
}

/* EMBEDDED CONTENT */

DIV.embedded {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}

DIV.embedded H1 {
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap; 
}

DIV.embedded.nieuws,
DIV.embedded.content.page.laatste-foto,
DIV.embedded.agenda {
  width: 295px;
}

DIV.embedded.nieuws P {
  margin: 0px;
}

DIV.agenda SPAN.date,
DIV.news SPAN.date {
  display: inline-block;
  width: 90px;
  text-align: right;
  vertical-align: text-top;
}

DIV#nieuwsView DIV.news SPAN.date {
  width: 110px;
}

DIV.agenda SPAN.item,
DIV.news SPAN.item {
  width: 180px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: text-top;
}

DIV#nieuwsView DIV.news SPAN.item {
  width: 800px;
}

DIV.embedded.agenda UL, DIV.embedded.agenda LI {
  margin: 0px;
  padding: 0px;
  list-style-type: none;    
}

DIV.loading {
  padding: 0px;
  margin: 0px;
	background-image: url( "images/icons/spinner.gif" );
	background-position: center center;
	background-repeat: no-repeat;
  height: 200px;
}

DIV.placeholder.laatste-foto,
DIV.placeholder.agenda {
  border: 1px solid #15ACC7; /* needed on Safari to avoid bad rendering */
  min-height: 200px;
}

DIV.embedded.content {
  color: white;
  font: 9pt Verdana;
  background-image: url( "images/gradient.png" );
  background-repeat: repeat-x;
  background-position: 0px 32px;
  min-height: 200px;
}

DIV.embedded.content.page {
  width: 640px;
}

DIV.embedded.socialbar {
  float: left;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  width: 30px;
  height: 25px;
  background-image: url( "images/socialbar-embed.png" );
  background-repeat: no-repeat;
  font: 12pt Verdana;
  padding-top: 7px;
  padding-left: 55px;
}

DIV.embedded.laatste-foto H1 {
  background-image: url( "images/icons/album.png" );
  background-repeat: no-repeat;
  background-position: 0px 1px;
  padding-left: 27px;
}

DIV.embedded.agenda H1 {
  background-image: url( "images/icons/agenda.png" );
  background-repeat: no-repeat;
  background-position: 0px 1px;
  padding-left: 27px;
}

DIV.embedded.agenda DIV.agenda {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed white;
}

DIV.embedded.nieuws H1 {
  background-image: url( "images/icons/news.png" );
  background-repeat: no-repeat;
  background-position: 0px 1px;
  padding-left: 30px;
}

.page-fotoboek DIV.embedded.album H1 {
  display: none;
}

.page-fotoboek DIV.embedded.album IMG.key {
  margin-top: 70px;
}

DIV.embedded.album {
  height: 250px;
  background-image: url( "images/album-embed.png" );
  background-position: 20px 50px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.subcontent>DIV.embedded.album {
  height: 200px;
  background-position: 20px 0px;
}

DIV.embedded.album IMG.key {
  margin-left: 29px;
  margin-top: 39px;
}

.subcontent DIV.embedded.album IMG.key {
  margin-top: 21px;
}


DIV.embedded.album P.label {
  text-align: center;
  margin-top: 20px;
}

/* EDTIOR */

.editorcontrols {
  height: 20px;
}

.editor {
  display: none;
  margin: 5px;
}

.raw {
  width: 100%;
  min-height: 100px;
}

.controls {
  padding: 3px;
  margin: 3px;
  float: right;
}

.controls .command {
  margin-bottom: 5px;
}

.dummy.controls {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  float:none;
}

/* POST-ITS */

DIV.postit {
  clear: both;
  float: right;
  width: 290px;
  height: 90px;
  background-image: url( "images/postit.png" );
  padding: 15px;
  text-align: center;
}

DIV.poster {
  clear: both;
  float: right;
  width: 310px;
  height: 230px;
  background-image: url( "images/postit-large.png" );
  padding: 5px;
  padding-top: 20px;
  text-align: center;
}

DIV.postit, DIV.postit A {
  text-decoration: none;
  font: 16pt Comic Sans MS;
  color: green;
}

DIV.postit.belangrijk, DIV.postit.belangrijk A {
  text-decoration: none;
  color: red;
  text-transform: uppercase;
}

/* COMMANDS */

.command {
  cursor: pointer;
}

.controls .command {
  display: none;
}

.controls .command.active {
  display: block;
}

.controls .state {
  display: none;
}

.controls .state.active {
  display: block;
}

/* CONTENT */

.body {
 width: 960px; /* site=990 - 30 for controls on the right */
}

.site.withSubNavigation .body {
  width: 730px; /* normal body - 220 -10 for subnavigation */
}

.site.withSubNavigation .content {
  display: inline-block;
  width: 766px;
}

._subnavigation {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin: 0px;
  padding: 0px;
  margin-top: 20  px;
}

._subnavigation UL {
  padding: 0px;
  margin: 5px;
}

._subnavigation LI {
  margin: 0px;
  list-style-type: none;    
  display: block;
  width: 180px;
  font: 13pt Verdana;
  padding:5px;
  padding-left: 15px;
  margin-bottom: 5px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

._subnavigation LI A {
  color: white;
  text-decoration: none;
}

._subnavigation LI.selected {
  background-color: #85D4E1;
}

._subnavigation LI.selected A {
  color: #027789;
}

._subnavigation LI:hover {
  background-color: #C0E6EB;
}

._subnavigation LI:hover A {
  color: #027789;
}

._subnavigation LI A:hover {
  color: #027789;
  text-decoration: underline;
}

/* SUBCONTENT */

.subcontent {}

/* FOOTER */

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -108px;
}

.push {
  height: 108px;
}

._footer {
  position: relative;
  z-index: -200;
  background-image: url( "images/footer.png" );
  height: 108px;
}
    
._footer DIV.info {
  color: white;
  font: 9pt Verdana;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 4px;
}

/* REGISTRATION / LOGON / CONTACT */

DIV.openid .providers {
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

DIV.credentials P {
  margin-bottom: 10px;
}

DIV.credentials FORM {
  text-align: center;
}

FORM INPUT, FORM SELECT, FORM TEXTAREA {
  font-size: 12pt;
  padding: 10px;
  border: none;
  background-color: #C9EDF4;
  width: 240px;
}

DIV#logon-popup INPUT {
  width: 150px;
}

DIV#contact-popup {
  height: 400px;
}

DIV#contact-popup TEXTAREA#contact-boodschap {
  width: 490px;
}

FORM INPUT.button, FORM SELECT {
  color: white;
  background-color: #2890BD;
  border: 1px solid #1F78A2;
}

FORM INPUT.button {
  margin-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

FORM INPUT.file {
  margin-top: 5px;
}

DIV#progress {
  position: absolute;
  top: 475px;
  width: 600px;
  height: 30px;
}

DIV#progress-msg {
  height: 20px;
  color: white;
  font: 10pt Helvetica;
}

DIV#progress-bar {
  height: 10px;
  background-color: white;
  width: 0%;
}

A.openid {
  width: 120px;
  height: 32px;
  margin: 3px;
  float: left;
}

A.openid:hover {
  margin: 4px 0px 0px 6px;
}

A.openid.google {
  background-image: url( "images/openid/google.png" );
}

A.openid.facebook {
  background-image: url( "images/openid/facebook.gif" );
}

A.openid.yahoo {
  background-image: url( "images/openid/yahoo.png" );
}

A.openid.myopenid {
  background-image: url( "images/openid/myopenid.png" );
}

/* Messages */

DIV.messages {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 100000;
}

DIV.message {
  display: inline;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  font: 10pt Verdana;
}

DIV.message.info {
  background-color: green;
}

DIV.message.warning {
  background-color: yellow;
}

DIV.message.critical {
  background-color: red;
}

/* COMMENTS */

.comment {
  width: 610px;
  margin-bottom: 20px;
}

.comment .commenter {
  display: inline-block;
  width: 290px;
  font: 10pt Verdana;
  color: white;
  padding-left: 10px;
}

.comment .time {
  display: inline-block;
  width: 290px;
  padding-right: 10px;
  text-align: right;
  font: 10pt Verdana;
  color: white;
}

.comment .balloon {
  padding-top: 10px;
  background-image: url( "images/comment-indicator.gif" );
  background-repeat: no-repeat;
    
}

.comment .container {
  background-color: #C3ECF2;
  background-image: url( "images/comment-background.gif" );
  background-position: 0px 100%;
  background-repeat: repeat-x;
}

.comment .container .controls {
}

.comment .container .body,
.comment .container .add {
  width: 570px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  min-height: 70px;
}

.comment .container .body P {
  color: #10616E;
}

.comment .add .newComment {
  width: 530px;
  height: 65px;
}
