DIV.comment {
  clear: both;
  background-image: url(images/comment_body.png);
  background-repeat: no-repeat;
  background-position: 80px 0px;
  min-height: 80px;
  margin-top: 5px;  
}

DIV.comment DIV.commenter {
  float: left;
  text-align: center;
  height: 75px;
  width: 75px;
  font-size: 60%;
  padding-top: 10px;
}

DIV.comment DIV.container {
  padding: 1px;
  padding-left: 20px;
  width: 540px;
  min-height: 80px;
  margin-left: 80px;
  background-image: url(images/comment_bottom.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* albums and pictures */

DIV.picture.preview, DIV.albumkey {
  float: left;
  margin: 10px;
  text-align: center;
}

DIV.picture.preview IMG,
DIV.albumkey IMG {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

DIV.picture {
  text-align: center;
}

DIV.picture IMG {
 vertical-align: middle;
}

SPAN.placeholder {
  display: inline-block;
  height: 75px;
  width: 75px;
}

