/* styling */
#addcontent-form .label,
#addcontent-form #addcontent-name-label {
  width: 100px;
}

/* automation */

/* by default don't add-content details */
#addcontent-name, 
#addcontent-name-label, 
#addcontent-submit,
#addcontent-album,
#addcontent-file {
  display: none;
}

/* depending on class of form, show label/name/submit */
#addcontent-form.PageContent #addcontent-submit,
#addcontent-form.NewsContent #addcontent-submit,
#addcontent-form.HtmlContent #addcontent-submit,
#addcontent-form.PageContent #addcontent-name-label,
#addcontent-form.HtmlContent #addcontent-name-label,
#addcontent-form.NewsContent #addcontent-name-label,
#addcontent-form.PageContent #addcontent-name,
#addcontent-form.HtmlContent #addcontent-name,
#addcontent-form.NewsContent #addcontent-name,
#addcontent-form.AlbumContent-ok #addcontent-name,
#addcontent-form.AlbumContent-ok #addcontent-name-label,
#addcontent-form.AlbumContent-ok #addcontent-submit,
#addcontent-form.FileContent-ok #addcontent-name,
#addcontent-form.FileContent-ok #addcontent-name-label,
#addcontent-form.FileContent-ok #addcontent-submit {
	display: inline;
}

/* depending on class of form, show file submission controls */
#addcontent-form.AlbumContent     #addcontent-album,
#addcontent-form.AlbumContent-nok #addcontent-album,
#addcontent-form.AlbumContent-ok  #addcontent-album,
#addcontent-form.FileContent      #addcontent-file,
#addcontent-form.FileContent-nok  #addcontent-file,
#addcontent-form.FileContent-ok   #addcontent-file {
  display: block;
}
