DIV.comment {
  clear: both;
  background-image: url(images/comment_body.png);
  background-repeat: no-repeat;
  background-position: 80px 0px;
  min-height: 80px;
  margin-top: 5px;  
}

DIV.comment DIV.commenter {
  float: left;
  text-align: center;
  height: 75px;
  width: 75px;
  font-size: 60%;
  padding-top: 10px;
}

DIV.comment DIV.container {
  padding: 1px;
  padding-left: 20px;
  width: 540px;
  min-height: 80px;
  margin-left: 80px;
  background-image: url(images/comment_bottom.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.editorcontrols {
  height: 20px;
  border: 1px solid yellow;
}

.body {
  border: 1px solid green;
  min-height: 80px;
}

.editor {
  border: 1px solid blue;
  margin: 5px;
}

DIV.comment .editor {
  margin: 0px;
}

.raw {
  width: 100%;
}

.controls {
  border: 1px solid #777;
  padding: 3px;
  margin: 3px;
  float: right;
}

.controls .command {
  display: none;
}

.controls .command.active {
  display: block;
}

.controls .state {
  display: none;
}

.controls .state.active {
  display: block;
}

.editor {
  display: none;
}

.editor.active {
  display: block;
}

.container {
  border: 1px solid red;
}

/* to review */

.info {
  border: 1px solid #aaa;
  background-color: #eee;
  color: #777;
  font-size: 75%;
  padding: 3px;
  margin: 3px;
}

.userbar {
  border: 1px solid #aaa;
  border-bottom: 10px solid #aaa;
  background-color: #eee;
  color: #777;
  font-size: 75%;
  padding: 3px;
  margin: 3px;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 200px;
}